<div class="result-box">
  <div>
    <h1><%= @pokemon[:name].capitalize %></h1>
    <%= image_tag @pokemon.dig(:sprites, :front_default) %>
  </div>
  <div class="flex flex-row" style="justify-content: space-evenly;">
    <p>Altura: <%= @pokemon[:height] %></p>
    <p>Peso: <%= @pokemon[:weight] %></p>
    <p>Poder: <%= @pokemon[:base_experience] %></p>
  </div>
</div>
